<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% if header.description %}
        <meta name="description" content="{{ header.description }}">
      {% else %}
        <meta name="description" content="{{ site.description }}">
      {% endif %}
      {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
      {% endif %}
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="-1">
      <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
      <link rel="icon" href="{{ theme_url }}/img/favicon.ico">
      <link rel="stylesheet" href="{{ theme_url}}/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700,800" rel="stylesheet">
      <title>
        {% if page.title == 'Home' %}
          {{ site.title }}
        {% else %}
          {{ header.title }} | {{ site.title }}
        {% endif %}
      </title>

      {% block stylesheets %}
        {% do assets.add('theme://css/main.css',100) %}
        {{ assets.css() }}
      {% endblock %}

      <meta property="og:description" content="{{page.header.postDescription}}">
      <meta property="og:image" content="{{page.media[page.header.heroImage].url}}">
    {% endblock head %}
  </head>

  <body class="template-{{page.template}}">

    {% block header %}{% endblock %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}{% endblock %}
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    {% block javascripts %}
      {% do assets.add('theme://js/main.js') %}

      {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
          {% do assets.add('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
          {% do assets.add('//oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
      {% endif %}
      {{ assets.js() }}
    {% endblock %}

  </body>
</html>
