<div class="contact-bar desktop-only">
	<div class="wrapper wrapper-big">
		<nav class="left-nav">
			<ul class="items">
				<li class="has-border"><i class="fa fa-phone" aria-hidden="true"></i> 828-348-0189</li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i> ile@adaramolalaw.com</li>
			</ul>
		</nav>
		<nav class="right-nav">
			<ul class="items">
				<a target="_blank" href="https://www.facebook.com/adaramolalaw">
					<li class="has-border facebook">
						<i class="fa fa-facebook-f" aria-hidden="true"></i>
					</li>
				</a>
				<a target="_blank" href="https://www.linkedin.com/in/ile-adaramola-2bb1aa122/">
					<li class="has-border linkedin">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</li>
				</a>
				<a target="_blank" href="https://plus.google.com/u/0/b/102033398411896370833/102033398411896370833/about">
					<li class="has-border google">
						<i class="fa fa-google-plus" aria-hidden="true"></i>
					</li>
				</a>
			</ul>
		</nav>
	</div>
</div>