<form method="post" action="{{page.header.ContactFormUrl}}">
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>First Name <span class="red">*</span></label>
			<input type="text" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>Last Name <span class="red">*</span></label>
			<input type="text" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>E-mail <span class="red">*</span></label>
			<input type="text" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>Phone Number <span class="red">*</span></label>
			<input type="text" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>First Name <span class="red">*</span></label>
			<select>
				<option></option>
				<option>Business Law</option>
				<option>Wills, Estates, Trust</option>
				<option>Estate Planning</option>
				<option>Real Estate Law</option>
				<option>Custom Legal Services</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="form-item one-half sm-full">
			<label>Message <span class="red">*</span></label>
			<textarea name="message" rows="4"></textarea>
		</div>
	</div>
	<button class="button">Send Message</button>
</form>
<div class="avvo">
	<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.avvo.com/professional_badges/4420422?aw_w=157&amp;aw_h=132&amp;ab_s=70&amp;ab_t=rating&amp;ab_v=2" style="border: none; overflow: hidden; width: 157px;"></iframe>
</div>
