<footer>
	<div class="wrapper wrapper-big">
		{# <div class="col footer-wrap">
			<div class="logo">
				<img src="{{url("theme://img/gw-icon.png")}}">
			</div>
			<div class="links">
				<ul>
					<li><a href="/About">About</a></li>
					<li><a href="/Services-yes">Services</a></li>
					<li><a href="/Consultation">Schedule a Consultation</a></li>
				</ul>
			</div>
			<div class="social-links">
				<ul class="legal">
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<ul class="social">
					<li><a target="_blank" href="http://www.facebook.com/groundedweb"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div> #}
		<div class="col one-forth sm-full">
			<h4>GET IN TOUCH</h4>
			<ul>
				<li><i class="fa fa-map-marker"></i>&nbsp; 1 Oak Plaza, Suite 306, <br> &nbsp;&nbsp;&nbsp;&nbsp;Asheville, NC 28801</li>
				<li><i class="fa fa-phone"></i> <strong>Phone:</strong> 828-348-0189</li>
				<li><i class="fa fa-phone"></i> <strong>Fax:</strong> 828-785-4711</li>
				<li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> <a href="mailto:ile@adaramolalaw.com">ile@adaramolalaw.com</a></li>
			</ul>
		</div>
		<div class="col one-forth sm-full">
			<h4>SITEMAP</h4>
			<ul>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/about">About</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/practice-areas">Practice Areas</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/blog">Legal Blog</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/resources">Resources</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="col one-forth sm-full">
			<h4>PRACTICE AREAS</h4>
			<ul>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/about">Advanced Directive/Living Will</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/practice-areas">Business Law</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/blog">Estate Administration</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/resources">Estate Planning</a></li>
			</ul>
		</div>
		<div class="col one-forth sm-full">
			<div class="space"></div>
			<ul>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/about">Healthcare Power of Attorney</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/practice-areas">Real Estate Law</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/blog">Wills & Trust</a></li>
				<li><i class="fa fa-angle-right">&nbsp;</i><a href="/resources">Durable Power of Attorney</a></li>
			</ul>
		</div>
	</div>
</footer>