{% set p = page.find('/globals')  %}
<header class="header header-default">
	<div class="wrapper wrapper-big">
		<nav class="navigation">
			<div class="logo">
				<a href="/">
					<img src="{{url("theme://img/logo.png")}}">
				</a>
			</div>
			<nav class="desktop-only">
				<ul class="links">
					{% if page.title == "About" %}
						<li><a class="active" href="/about">About Us</a></li>
					{% else %}
						<li><a href="/about">About Us</a></li>
					{% endif %}

					{% if page.title == "Practice Areas" %}
						<li><a class="active" href="/practice-areas">Practice Areas</a></li>
					{% else %}
						<li><a href="/practice-areas">Practice Areas</a></li>
					{% endif %}

					{% if page.title == "Legal Blog" %}
						<li><a class="active" href="/legal-blog">Legal Blog</a></li>
					{% else %}
						<li><a href="/legal-blog">Legal Blog</a></li>
					{% endif %}

					{% if page.title == "Resources" %}
						<li><a class="active" href="/resources">Resources</a></li>
					{% else %}
						<li><a href="/resources">Resources</a></li>
					{% endif %}

					{% if page.title == "Contact" %}
						<li><a class="active" href="/contact">Contact</a></li>
					{% else %}
						<li><a href="/contact">Contact</a></li>
					{% endif %}
				</ul>
			</nav>
			<nav class="mobile-only tablet-only">
				<ul class="mobile">
					<li>
						<a class="toggle-btn" data-select=".mobile-panel">
							<i class="fa fa-bars" aria-hidden="true" style="font-size: 25px;"></i>
						</a>
					</li>
				</ul>
			</nav>
		</nav>
	</div>
	{% include 'partials/mobile-panel.html.twig'%}
</header>
