<div class="mobile-panel mobile-only tablet-only">
	<ul class="links">
		{% if page.title == "About" %}
			<li><a class="active" href="/about">About Us</a></li>
		{% else %}
			<li><a href="/about">About Us</a></li>
		{% endif %}

		{% if page.title == "Practice Areas" %}
			<li><a class="active" href="/practice-areas">Practice Areas</a></li>
		{% else %}
			<li><a href="/practice-areas">Practice Areas</a></li>
		{% endif %}

		{% if page.title == "Legal Blog" %}
			<li><a class="active" href="/legal-blog">Legal Blog</a></li>
		{% else %}
			<li><a href="/legal-blog">Legal Blog</a></li>
		{% endif %}

		{% if page.title == "Resources" %}
			<li><a class="active" href="/resources">Resources</a></li>
		{% else %}
			<li><a href="/resources">Resources</a></li>
		{% endif %}

		{% if page.title == "Contact" %}
			<li><a class="active" href="/contact">Contact</a></li>
		{% else %}
			<li><a href="/contact">Contact</a></li>
		{% endif %}
	</ul>
</div>