<div class="blog-item">
	<div class="blog-thumbnail">
		<a href="{{post.url}}">{{post.media[post.header.heroImage].cropZoom(390,200).html()}}</a>
	</div>
	<div class="blog-preview">
		<a href="{{post.url}}"><h4 class="blog-title">{{post.title}}</h4></a>
		<p class="blog-excerpt">{{post.header.postDescription}}</p>
	</div>
</div>