.template-blog
	.header
		background: $white

	.section-feed
		padding: 30px 0
		
.blog-wrap	
	width: 100%

	.blog-item
		border-bottom: 1px solid #e5e6e9

		h3
			font-size: 24px
			letter-spacing: -0.5px
			margin-bottom: 5px

		.date
			margin: 0
			font-size: 14px
			color: $light-grey

		p
			font-size: 15px

@media screen and (max-width: 768px)
	.blog-wrap
		.blog-item
			margin-bottom: 20px
			margin-right: 0
			width: 100%

			&:last-child
				margin-bottom: 0

@media screen and (min-width: 769px) and (max-width:992px)
	.blog-wrap
		.blog-item
			margin-bottom: 20px
			width: 47.5%

			&:nth-child(3n)
				margin-right: 5%

			&:nth-child(2n)
				margin-right: 0