.template-contact
	.section-map
		.map-container 
			width: 100%
		
			iframe
				height: 400px
				display: block
				pointer-events: none
				position: relative

				&.clicked
					pointer-events: auto

	.section-contact
		.item
			box-sizing: border-box
			border: 1px solid transparent
			padding: 15px
			position: relative

			h3
				font-size: 18px
				color: $text-grey
				font-weight: normal
				margin-top: 0
				margin-left: 65px
				margin-bottom: 10px

			p,a
				font-size: 14px
				margin-top: 0
				margin-bottom: 5px
				margin-left: 65px

			.icon
				width: 48px
				position: absolute

				.circle
					width: 48px
					height: 48px
					border-radius: 24px
					box-sizing: border-box
					background: $alt
					text-align: center
					transition: 300ms all ease-in-out

					.fa
						color: $white
						font-size: 21px
						margin-top: 12px

			&:hover
				.icon .circle
					background: $white
					border: 1px solid $alt

					.fa
						color: $alt

			&:nth-child(4)
				border-bottom: 1px solid $lighter-grey

			&:nth-child(5)
				border-bottom: 1px solid $lighter-grey
				border-left: 1px solid $lighter-grey

			&:nth-child(7)
				border-left: 1px solid $lighter-grey

@media screen and (max-width: 768px)
	.template-contact
		.section-map
			iframe
				height: 250px

		.section-contact
			.item
				border-bottom: 1px solid $lighter-grey

				&:nth-child(4)
					border-bottom: 1px solid $lighter-grey

				&:nth-child(5)
					border-bottom: 1px solid $lighter-grey
					border-left: 0

				&:nth-child(7)
					border-left: 0

@media screen and (min-width: 769px) and (max-width: 992px)
	.template-contact
		.section-contact
			.item
				border-bottom: 1px solid $lighter-grey

				&:nth-child(4)
					border-bottom: 1px solid $lighter-grey

				&:nth-child(5)
					border-bottom: 1px solid $lighter-grey
					border-left: 0

				&:nth-child(7)
					border-left: 0