.template-home
	.section-home-hero
		position: relative
		background-size: cover
		background-position: center
		height: 500px

		.wrapper
			display: flex
			align-items: center
			justify-content: flex-end
			height: 100%

			.text-wrap
				float: right
				text-align: center

				h1
					font-family: "Open Sans", sans-serif
					color: #34495e
					margin: 0
					font-size: 60px

				span
					font-size: 20px
					color: $white
					padding: 5px 13px
					font-weight: bold
					background: #34495e

	.section-home-buttons
		background: $main
		min-height: 120px
		display: flex
		align-items: center

		.wrapper
			display: flex
			justify-content: space-between

			&::before, &::after
				content: none

			.button
				width: 30%
				box-sizing: border-box
				text-align: center
				background: linear-gradient(to bottom, #992020, #861c1c)
				box-shadow: inset 0px 1px 0px 0px #B94035

				&:hover
					background: linear-gradient(to bottom, #c62d1f, #f24537)

	.section-law
		border-top: 1px $lighter-grey solid
		background: #ECEEF0
		padding: 30px 0

		.col
			box-sizing: border-box
			padding: 0 15px

			h3
				margin: 0
				margin-bottom: 5px
				font-size: 22px
				font-weight: normal

			img
				width: 100%

			p
				margin-top: 5px
				font-size: 14px

			.button-wrap
				text-align: center

				.button
					font-size: 14px
					

@media screen and (max-width: 768px)
	.template-home
		.section-home-hero
			height: 400px
			.wrapper
				align-items: flex-end
				.text-wrap
					margin-bottom: 30px
					h1
						font-size: 37px
						color: $white
					span
						font-size: 17px

		.section-home-buttons
			.wrapper
				flex-direction: column

				.button
					width: 100%
					margin: 15px 0

		.section-law
			.col
				margin-top: 40px
				padding: 0

				&:first-child
					margin-top: 0

@media screen and (min-width: 769px) and (max-width:992px)
	.template-home
		.section-home-hero
			height: 400px
			.wrapper
				align-items: flex-end
				justify-content: center

				.text-wrap
					margin-bottom: 30px
					h1
						font-size: 37px
						color: $white
					span
						font-size: 17px

		.section-home-buttons
			.wrapper
				.button.big
					font-size: 16px 

		.section-law
			.col
				margin-top: 40px
