.hero-overlay
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0,0,0,0.1)

.hero-gradient
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.3) 100%)

.template-posts
	background: $white

	.section-post-head
		
		.post-hero
			width: 100%
			height: 380px
			background-size: 100%
			background-position-y: 36%
			position: relative

	.section-post-content
		margin-top: -60px
		margin-bottom: 30px

		.post-wrap
			width: 90%
			max-width: 800px
			margin: auto
			position: relative
			background: $white
			padding: 25px
			box-sizing: border-box
			border-radius: 3px
			box-shadow: 0 0 3px $main-black

			.post-title
				h1
					margin-top: 0
					line-height: 0.8
					margin-bottom: 12px

			.post-author
				p
					margin: 0

			.post-content
				p
					font-size: 20px

@media screen and (max-width: 768px)
	.template-posts
		.section-post-head
			margin-top: 52px

			.post-hero
				height: 200px
				background-size: cover

		.section-post-content
			margin-top: 0

			.post-wrap
				width: 100%
				border-radius: 0
				box-shadow: none

@media screen and (min-width: 769px) and (max-width:992px)
	.template-posts
		.section-post-head
			margin-top: 52px

			.post-hero
				background-size: cover
