.template-resources
	.section-areas
		margin-bottom: 45px 
		
		h2
			font-weight: normal

		a
			font-weight: bold
			letter-spacing: 1px
			margin-bottom: 8px
			display: -webkit-inline-box

		.ps
			margin-top: 50px
			font-style: italic