.section-services

	.services-menu
		position: fixed
		width: 300px
		height: 100%
		left: 0
		top: 0
		background: $darker-blue

		.logo
			width: 100%
			text-align: center
			padding: 10px 0

			img
				width: 80%


		.service
			text-align: center

			li
				border-bottom: 1px solid $light-grey
				box-sizing: border-box
				padding: 12px 0
				font-size: 14pt
				color: $lighter-grey
				cursor: pointer

			&:nth-of-type(1)
				li
					border-top: 1px solid $light-grey

			.benefits
				height: 0
				overflow: hidden
				transition: height 300ms ease-in-out

				li
					border-top: none
					box-sizing: border-box
					background: $dark-blue
					color: $lighter-grey

					&.active
						background: $white
						color: $dark-blue

				&.active

					&.one
						height: 49px

					&.two
						height: 98px

					&.three
						height: 147px

					&.four
						height: 196px

					&.five
						height: 245px

	.services-content
		padding-top: 80px
		padding-left: 300px
		height: auto

		.wrapper
			position: relative
			height: auto

		.benefits-wrap
			text-align: center
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: auto
			opacity: 0
			transition: opacity 350ms ease-in-out

			&.active
				opacity: 1

			.products-wrap
				display: block

				.item-wrap
					margin-bottom: 20px
					text-align: left

					i
						font-size: 50px

@media screen and (max-width: 768px)
	.section-services
		.services-menu
			width: 100%
			margin-top: 52px
			z-index: 1
			height: 0
			overflow: hidden
			transition: height 400ms ease-in-out

			&.active
				height: 100%

			.service
				.benefits
					li
						&.active
							background: $dark-blue
							color: $lighter-grey

		.services-content
			padding-left: 0

			.benefits-wrap
				.products-wrap
					flex-direction: column

		.current-selection
			position: fixed
			z-index: 1
			top: 52px
			width: 100%
			padding: 5px 0
			text-align: center
			background: $darker-blue

			li
				font-size: 14pt
				font-weight: bold
				color: $white

@media screen and (min-width: 769px) and (max-width:992px)
	.section-services
		.services-menu
			width: 100%
			margin-top: 52px
			z-index: 1
			height: 0
			overflow: hidden
			transition: height 400ms ease-in-out

			&.active
				height: 100%

		.services-content
			padding-left: 0

		.current-selection
			position: absolute
			top: 52px
			width: 100%
			padding: 5px 0
			text-align: center
			background: $darker-blue

			li
				font-size: 14pt
				font-weight: bold
				color: $white
