.template-thank-you
	padding: 30px 0
	text-align: center

	img
		width: 55%
		margin-bottom: 10px

	a
		font-size: 50px
		margin-right: 15px

		&:last-child
			margin-right: 0

		&:hover
			color: $main