body {
  margin: 0;
  background: #FFF;
  transition: all 0.5s ease; }

div:after, div:before {
  content: "";
  display: table;
  clear: both; }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none; }

.overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.2; }

body {
  font-family: "Open Sans", sans-serif; }

p {
  margin-bottom: 1em;
  color: #656565;
  transition: all 0.5s ease;
  font-size: 16px; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

a {
  color: #2D3E52; }
  a:hover {
    color: #861c1c;
    cursor: pointer; }

a.alt {
  color: #861c1c; }
  a.alt:hover {
    color: #861c1c;
    cursor: pointer; }

.red {
  color: red; }

.text-shadow {
  text-shadow: 1px 1px 2px #3b4b79; }

.headline {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
  margin-top: 35px; }
  .headline::after {
    content: " ";
    display: block;
    height: 5px;
    width: 25px;
    border-bottom: 3px solid #DEDEDE; }

.title {
  color: #151515; }
  .title.post {
    color: #FFF;
    margin: 12px 0;
    margin-top: 15px;
    font-size: 49px;
    font-weight: normal;
    text-shadow: 2px 2px 40px rgba(52, 62, 71, 0.8); }
  .title.post-sample {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 15px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px; } }
.button {
  display: inline-block;
  background: #861c1c;
  border: 1px solid #992A21;
  border-radius: 5px;
  padding: 9px 14px;
  font-size: 16px;
  color: #FFF; }
  .button.big {
    padding: 25px;
    font-size: 20px;
    font-weight: bold; }
  .button:hover {
    cursor: pointer;
    color: #FFF;
    background: #c62d1f; }

@media screen and (max-width: 768px) {
  .button {
    font-size: 18px; } }
.wrapper {
  width: 90%;
  margin: auto;
  position: relative; }

.wrapper-big {
  max-width: 1172px; }

.wrapper-default {
  max-width: 1024px; }

.wrapper-sm {
  text-align: center;
  max-width: 800px; }

.row {
  position: relative; }
  .row.row-center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%); }

.row:after {
  content: "";
  display: table;
  clear: both; }

.col {
  float: left;
  width: 100%; }

.full {
  width: 100%; }

.one-half {
  width: 50%; }

.one-third {
  width: 33.3333%; }

.one-forth {
  width: 25%; }

.three-forth {
  width: 75%; }

.two-third {
  width: 66.6666%; }

.one-fifth {
  width: 20%; }

.two-fifth {
  width: 40%; }

.three-fifth {
  width: 60%; }

.align-right {
  float: right; }

.desktop-only, .tablet-only, .mobile-only {
  display: none; }

.header-margin {
  margin-top: 98px; }

.padding-right {
  padding-right: 60px;
  box-sizing: border-box; }

@media screen and (min-width: 993px) {
  .desktop-only {
    display: block; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .tablet-only {
    display: block; }

  .md-full {
    width: 100%; }

  .md-one-half {
    width: 50%; }

  .md-one-third {
    width: 33.3333%; }

  .md-one-forth {
    width: 25%; }

  .md-three-forth {
    width: 75%; }

  .md-two-third {
    width: 66.6666%; }

  .md-one-fifth {
    width: 20%; }

  .header-margin {
    margin-top: 52px; } }
@media screen and (max-width: 768px) {
  .header-margin {
    margin-top: 52px; }

  .padding-right {
    padding-right: 0; }

  .mobile-only {
    display: block; }

  .sm-full {
    width: 100%; }

  .sm-one-half {
    width: 50%; }

  .sm-one-third {
    width: 33.3333%; }

  .sm-one-forth {
    width: 25%; }

  .sm-three-forth {
    width: 75%; }

  .sm-two-third {
    width: 66.6666%; }

  .sm-one-fifth {
    width: 20%; } }
@media screnn and (min-width: 1600px) {
  .lg-full {
    width: 100%; }

  .lg-one-half {
    width: 50%; }

  .lg-one-third {
    width: 33.3333%; }

  .lg-one-forth {
    width: 25%; }

  .lg-one-fifth {
    width: 20%; } }
.template-services-yes .header .navigation .mobile .services-only, .template-services-no .header .navigation .mobile .services-only {
  display: initial;
  margin-right: 18px; }

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 42px;
  background: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #DEDEDE; }
  .header.scroll {
    top: 0; }
  .header .navigation {
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .navigation .logo a {
      display: flex;
      align-items: center; }
      .header .navigation .logo a img {
        max-width: 50px; }
      .header .navigation .logo a span {
        color: #abadaf;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: 10px; }
    .header .navigation .links {
      display: flex; }
      .header .navigation .links li {
        margin-right: 40px;
        position: relative; }
        .header .navigation .links li:last-child {
          margin-right: 0; }
        .header .navigation .links li a {
          color: #2D3E52;
          font-size: 15px;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          font-weight: bold; }
          .header .navigation .links li a.active {
            color: #861c1c; }
          .header .navigation .links li a:hover {
            color: #861c1c; }
        .header .navigation .links li .services-dropdown {
          background: #0055ac;
          position: absolute;
          width: 181px;
          top: 44px;
          left: 0;
          box-shadow: 1px 1px 2px #3b4b79;
          height: 0;
          overflow: hidden;
          transition: height 350ms ease-in-out; }
          .header .navigation .links li .services-dropdown.active {
            height: 92px; }
          .header .navigation .links li .services-dropdown li {
            padding: 15px;
            margin-right: 0; }
            .header .navigation .links li .services-dropdown li:last-child {
              padding-top: 0; }
            .header .navigation .links li .services-dropdown li a {
              color: #FFF; }
              .header .navigation .links li .services-dropdown li a:hover {
                color: #2D3E52; }
    .header .navigation .mobile i {
      color: #2D3E52; }
    .header .navigation .mobile .services-only {
      display: none;
      position: relative; }
      .header .navigation .mobile .services-only::after {
        content: "";
        width: 15px;
        height: 15px;
        background: #05489a;
        position: absolute;
        bottom: -22px;
        left: -4px;
        transform: rotate(45deg); }

@media screen and (max-width: 768px) {
  .header {
    top: 0; }
    .header .navigation {
      padding: 6px 0; }
      .header .navigation .logo a img {
        max-width: 40px; }
      .header .navigation .logo a span {
        font-size: 16px; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    top: 0; }
    .header .navigation {
      padding: 6px 0; }
      .header .navigation .logo a img {
        max-width: 40px; }
      .header .navigation .logo a span {
        font-size: 16pxadd; } }
footer {
  background: #232D37;
  padding: 20px 0; }
  footer h4 {
    color: #FFF;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px; }
  footer ul li {
    color: #BCC1C5;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px; }
    footer ul li a {
      color: #BCC1C5; }
  footer .space {
    height: 25px; }

@media screen and (max-width: 768px) {
  footer h4 {
    margin-top: 10px; }
  footer .space {
    height: 0; } }
form.white input, form.white textarea {
  border-color: #FFF;
  color: #FFF;
  background: none; }
  form.white input::placeholder, form.white textarea::placeholder {
    color: #FFF; }
form input, form textarea, form select {
  width: 100%;
  border: 1px solid #DEDEDE;
  background: #F8F8F8;
  border-radius: 3px;
  font-size: 16px;
  color: #606060;
  padding: 7px 13px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }
  form input option, form textarea option, form select option {
    width: 100%; }
  form input:focus, form textarea:focus, form select:focus {
    outline: none; }
form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #656565;
  font-weight: bold; }
form .form-group {
  display: flex;
  width: 100%; }
  form .form-group .form-item {
    flex: 1;
    padding-right: 25px; }
    form .form-group .form-item:last-child {
      padding-right: 0; }
    form .form-group .form-item.flex-two {
      flex: 2; }
    form .form-group .form-item.flex-three {
      flex: 3; }
    form .form-group .form-item.flex-four {
      flex: 4; }
    form .form-group .form-item .radio, form .form-group .form-item .checkbox {
      margin-right: 15px; }

.avvo {
  height: 150px;
  position: relative; }

@media screen and (max-width: 768px) {
  form .form-group {
    flex-direction: column; }
    form .form-group .form-item {
      padding-right: 0; } }
.mobile-panel {
  z-index: 11;
  width: 85%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #DEDEDE;
  border-right: 1px solid #838383;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translate3d(-100%, 0, 0); }
  .mobile-panel.active {
    transform: translate3d(0, 0, 0);
    box-shadow: 0px 0 10px; }
  .mobile-panel .links {
    margin-top: 30px;
    padding-left: 0; }
    .mobile-panel .links li {
      text-align: center;
      padding: 14px 0 15px; }
      .mobile-panel .links li.service {
        background: #161225; }
      .mobile-panel .links li a {
        color: #2D3E52;
        letter-spacing: 1px;
        font-size: 16px; }
        .mobile-panel .links li a.active {
          color: #861c1c; }

.call-to-action {
  background: #838383;
  text-align: center;
  padding: 0 0 30px; }
  .call-to-action.blue {
    background: #1e1934; }
  .call-to-action h3 {
    color: #FFF; }
  .call-to-action .button {
    margin-right: 30px; }
    .call-to-action .button:hover {
      border-color: #151515;
      color: #151515; }
    .call-to-action .button:last-child {
      margin-right: 0; }

@media screen and (max-width: 768px) {
  .call-to-action .button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 7px;
    float: left;
    box-sizing: border-box; } }
.contact-bar {
  background: #232D37;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .contact-bar .wrapper {
    display: flex;
    justify-content: space-between; }
    .contact-bar .wrapper::before, .contact-bar .wrapper::after {
      content: none; }
    .contact-bar .wrapper .left-nav .items, .contact-bar .wrapper .right-nav .items {
      display: flex; }
      .contact-bar .wrapper .left-nav .items li, .contact-bar .wrapper .right-nav .items li {
        padding: 10px 14px; }
        .contact-bar .wrapper .left-nav .items li:first-child, .contact-bar .wrapper .right-nav .items li:first-child {
          padding-left: 0; }
        .contact-bar .wrapper .left-nav .items li:last-child, .contact-bar .wrapper .right-nav .items li:last-child {
          padding-right: 0; }
    .contact-bar .wrapper .left-nav .has-border {
      border-right: 1px solid #FFF; }
    .contact-bar .wrapper .left-nav .fa {
      margin-right: 5px; }
    .contact-bar .wrapper .right-nav .has-border {
      border-left: 1px solid #FFF; }
    .contact-bar .wrapper .right-nav .items a {
      color: #FFF; }
      .contact-bar .wrapper .right-nav .items a:hover {
        color: #FFF; }
      .contact-bar .wrapper .right-nav .items a li {
        text-align: center; }
        .contact-bar .wrapper .right-nav .items a li .fa {
          min-width: 14px; }
        .contact-bar .wrapper .right-nav .items a li:first-child {
          padding-left: 10px; }
        .contact-bar .wrapper .right-nav .items a li:last-child {
          padding-right: 10px; }
      .contact-bar .wrapper .right-nav .items a .facebook, .contact-bar .wrapper .right-nav .items a .linkedin, .contact-bar .wrapper .right-nav .items a .google {
        transition: 300ms background ease-in-out; }
      .contact-bar .wrapper .right-nav .items a .facebook:hover {
        background: #4a6d9d; }
      .contact-bar .wrapper .right-nav .items a .linkedin:hover {
        background: #0b7bb5; }
      .contact-bar .wrapper .right-nav .items a .google:hover {
        background: #d53824; }

.section-hero {
  position: relative;
  background-size: 100%;
  background-position: 0 37%; }
  .section-hero .text-wrap {
    padding: 70px 0 150px; }
    .section-hero .text-wrap h1, .section-hero .text-wrap p {
      color: #FFF;
      margin: 0; }

@media screen and (max-width: 768px) {
  .section-hero {
    background-attachment: initial;
    background-position: 50%;
    background-size: cover; }
    .section-hero .text-wrap {
      padding: 30px 0 85px; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section-hero {
    background-attachment: initial;
    background-position: 50%;
    background-size: cover; } }
.template-home .section-home-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 500px; }
  .template-home .section-home-hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
    .template-home .section-home-hero .wrapper .text-wrap {
      float: right;
      text-align: center; }
      .template-home .section-home-hero .wrapper .text-wrap h1 {
        font-family: "Open Sans", sans-serif;
        color: #34495e;
        margin: 0;
        font-size: 60px; }
      .template-home .section-home-hero .wrapper .text-wrap span {
        font-size: 20px;
        color: #FFF;
        padding: 5px 13px;
        font-weight: bold;
        background: #34495e; }
.template-home .section-home-buttons {
  background: #2D3E52;
  min-height: 120px;
  display: flex;
  align-items: center; }
  .template-home .section-home-buttons .wrapper {
    display: flex;
    justify-content: space-between; }
    .template-home .section-home-buttons .wrapper::before, .template-home .section-home-buttons .wrapper::after {
      content: none; }
    .template-home .section-home-buttons .wrapper .button {
      width: 30%;
      box-sizing: border-box;
      text-align: center;
      background: linear-gradient(to bottom, #992020, #861c1c);
      box-shadow: inset 0px 1px 0px 0px #B94035; }
      .template-home .section-home-buttons .wrapper .button:hover {
        background: linear-gradient(to bottom, #c62d1f, #f24537); }
.template-home .section-law {
  border-top: 1px #DEDEDE solid;
  background: #ECEEF0;
  padding: 30px 0; }
  .template-home .section-law .col {
    box-sizing: border-box;
    padding: 0 15px; }
    .template-home .section-law .col h3 {
      margin: 0;
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: normal; }
    .template-home .section-law .col img {
      width: 100%; }
    .template-home .section-law .col p {
      margin-top: 5px;
      font-size: 14px; }
    .template-home .section-law .col .button-wrap {
      text-align: center; }
      .template-home .section-law .col .button-wrap .button {
        font-size: 14px; }

@media screen and (max-width: 768px) {
  .template-home .section-home-hero {
    height: 400px; }
    .template-home .section-home-hero .wrapper {
      align-items: flex-end; }
      .template-home .section-home-hero .wrapper .text-wrap {
        margin-bottom: 30px; }
        .template-home .section-home-hero .wrapper .text-wrap h1 {
          font-size: 37px;
          color: #FFF; }
        .template-home .section-home-hero .wrapper .text-wrap span {
          font-size: 17px; }
  .template-home .section-home-buttons .wrapper {
    flex-direction: column; }
    .template-home .section-home-buttons .wrapper .button {
      width: 100%;
      margin: 15px 0; }
  .template-home .section-law .col {
    margin-top: 40px;
    padding: 0; }
    .template-home .section-law .col:first-child {
      margin-top: 0; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .template-home .section-home-hero {
    height: 400px; }
    .template-home .section-home-hero .wrapper {
      align-items: flex-end;
      justify-content: center; }
      .template-home .section-home-hero .wrapper .text-wrap {
        margin-bottom: 30px; }
        .template-home .section-home-hero .wrapper .text-wrap h1 {
          font-size: 37px;
          color: #FFF; }
        .template-home .section-home-hero .wrapper .text-wrap span {
          font-size: 17px; }
  .template-home .section-home-buttons .wrapper .button.big {
    font-size: 16px; }
  .template-home .section-law .col {
    margin-top: 40px; } }
.section-services .services-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 0;
  background: #05489a; }
  .section-services .services-menu .logo {
    width: 100%;
    text-align: center;
    padding: 10px 0; }
    .section-services .services-menu .logo img {
      width: 80%; }
  .section-services .services-menu .service {
    text-align: center; }
    .section-services .services-menu .service li {
      border-bottom: 1px solid #838383;
      box-sizing: border-box;
      padding: 12px 0;
      font-size: 14pt;
      color: #DEDEDE;
      cursor: pointer; }
    .section-services .services-menu .service:nth-of-type(1) li {
      border-top: 1px solid #838383; }
    .section-services .services-menu .service .benefits {
      height: 0;
      overflow: hidden;
      transition: height 300ms ease-in-out; }
      .section-services .services-menu .service .benefits li {
        border-top: none;
        box-sizing: border-box;
        background: #0055ac;
        color: #DEDEDE; }
        .section-services .services-menu .service .benefits li.active {
          background: #FFF;
          color: #0055ac; }
      .section-services .services-menu .service .benefits.active.one {
        height: 49px; }
      .section-services .services-menu .service .benefits.active.two {
        height: 98px; }
      .section-services .services-menu .service .benefits.active.three {
        height: 147px; }
      .section-services .services-menu .service .benefits.active.four {
        height: 196px; }
      .section-services .services-menu .service .benefits.active.five {
        height: 245px; }
.section-services .services-content {
  padding-top: 80px;
  padding-left: 300px;
  height: auto; }
  .section-services .services-content .wrapper {
    position: relative;
    height: auto; }
  .section-services .services-content .benefits-wrap {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 350ms ease-in-out; }
    .section-services .services-content .benefits-wrap.active {
      opacity: 1; }
    .section-services .services-content .benefits-wrap .products-wrap {
      display: block; }
      .section-services .services-content .benefits-wrap .products-wrap .item-wrap {
        margin-bottom: 20px;
        text-align: left; }
        .section-services .services-content .benefits-wrap .products-wrap .item-wrap i {
          font-size: 50px; }

@media screen and (max-width: 768px) {
  .section-services .services-menu {
    width: 100%;
    margin-top: 52px;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: height 400ms ease-in-out; }
    .section-services .services-menu.active {
      height: 100%; }
    .section-services .services-menu .service .benefits li.active {
      background: #0055ac;
      color: #DEDEDE; }
  .section-services .services-content {
    padding-left: 0; }
    .section-services .services-content .benefits-wrap .products-wrap {
      flex-direction: column; }
  .section-services .current-selection {
    position: fixed;
    z-index: 1;
    top: 52px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #05489a; }
    .section-services .current-selection li {
      font-size: 14pt;
      font-weight: bold;
      color: #FFF; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .section-services .services-menu {
    width: 100%;
    margin-top: 52px;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: height 400ms ease-in-out; }
    .section-services .services-menu.active {
      height: 100%; }
  .section-services .services-content {
    padding-left: 0; }
  .section-services .current-selection {
    position: absolute;
    top: 52px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #05489a; }
    .section-services .current-selection li {
      font-size: 14pt;
      font-weight: bold;
      color: #FFF; } }
.template-about .section-about {
  margin-bottom: 50px; }

@media screen and (max-width: 768px) {
  .template-about .section-about img {
    width: 100%; } }
.template-blog .header {
  background: #FFF; }
.template-blog .section-feed {
  padding: 30px 0; }

.blog-wrap {
  width: 100%; }
  .blog-wrap .blog-item {
    border-bottom: 1px solid #e5e6e9; }
    .blog-wrap .blog-item h3 {
      font-size: 24px;
      letter-spacing: -0.5px;
      margin-bottom: 5px; }
    .blog-wrap .blog-item .date {
      margin: 0;
      font-size: 14px;
      color: #838383; }
    .blog-wrap .blog-item p {
      font-size: 15px; }

@media screen and (max-width: 768px) {
  .blog-wrap .blog-item {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%; }
    .blog-wrap .blog-item:last-child {
      margin-bottom: 0; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .blog-wrap .blog-item {
    margin-bottom: 20px;
    width: 47.5%; }
    .blog-wrap .blog-item:nth-child(3n) {
      margin-right: 5%; }
    .blog-wrap .blog-item:nth-child(2n) {
      margin-right: 0; } }
.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1); }

.hero-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 0.3) 100%); }

.template-posts {
  background: #FFF; }
  .template-posts .section-post-head .post-hero {
    width: 100%;
    height: 380px;
    background-size: 100%;
    background-position-y: 36%;
    position: relative; }
  .template-posts .section-post-content {
    margin-top: -60px;
    margin-bottom: 30px; }
    .template-posts .section-post-content .post-wrap {
      width: 90%;
      max-width: 800px;
      margin: auto;
      position: relative;
      background: #FFF;
      padding: 25px;
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0 0 3px #151515; }
      .template-posts .section-post-content .post-wrap .post-title h1 {
        margin-top: 0;
        line-height: 0.8;
        margin-bottom: 12px; }
      .template-posts .section-post-content .post-wrap .post-author p {
        margin: 0; }
      .template-posts .section-post-content .post-wrap .post-content p {
        font-size: 20px; }

@media screen and (max-width: 768px) {
  .template-posts .section-post-head {
    margin-top: 52px; }
    .template-posts .section-post-head .post-hero {
      height: 200px;
      background-size: cover; }
  .template-posts .section-post-content {
    margin-top: 0; }
    .template-posts .section-post-content .post-wrap {
      width: 100%;
      border-radius: 0;
      box-shadow: none; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .template-posts .section-post-head {
    margin-top: 52px; }
    .template-posts .section-post-head .post-hero {
      background-size: cover; } }
.template-thank-you {
  padding: 30px 0;
  text-align: center; }
  .template-thank-you img {
    width: 55%;
    margin-bottom: 10px; }
  .template-thank-you a {
    font-size: 50px;
    margin-right: 15px; }
    .template-thank-you a:last-child {
      margin-right: 0; }
    .template-thank-you a:hover {
      color: #2D3E52; }

.template-error {
  padding: 30px 0; }
  .template-error #error {
    text-align: center; }
    .template-error #error h1 {
      font-family: "Roboto", sans-serif;
      font-size: 50px; }
    .template-error #error img {
      width: 55%; }
    .template-error #error a {
      color: #2D3E52; }

.template-practice-areas .section-areas {
  padding: 15px 0 45px; }
  .template-practice-areas .section-areas h2:first-child {
    margin-top: 30px; }
  .template-practice-areas .section-areas a {
    color: #861c1c;
    font-weight: normal; }

.template-resources .section-areas {
  margin-bottom: 45px; }
  .template-resources .section-areas h2 {
    font-weight: normal; }
  .template-resources .section-areas a {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
    display: -webkit-inline-box; }
  .template-resources .section-areas .ps {
    margin-top: 50px;
    font-style: italic; }

.template-contact .section-map .map-container {
  width: 100%; }
  .template-contact .section-map .map-container iframe {
    height: 400px;
    display: block;
    pointer-events: none;
    position: relative; }
    .template-contact .section-map .map-container iframe.clicked {
      pointer-events: auto; }
.template-contact .section-contact .item {
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 15px;
  position: relative; }
  .template-contact .section-contact .item h3 {
    font-size: 18px;
    color: #656565;
    font-weight: normal;
    margin-top: 0;
    margin-left: 65px;
    margin-bottom: 10px; }
  .template-contact .section-contact .item p, .template-contact .section-contact .item a {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 65px; }
  .template-contact .section-contact .item .icon {
    width: 48px;
    position: absolute; }
    .template-contact .section-contact .item .icon .circle {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      box-sizing: border-box;
      background: #861c1c;
      text-align: center;
      transition: 300ms all ease-in-out; }
      .template-contact .section-contact .item .icon .circle .fa {
        color: #FFF;
        font-size: 21px;
        margin-top: 12px; }
  .template-contact .section-contact .item:hover .icon .circle {
    background: #FFF;
    border: 1px solid #861c1c; }
    .template-contact .section-contact .item:hover .icon .circle .fa {
      color: #861c1c; }
  .template-contact .section-contact .item:nth-child(4) {
    border-bottom: 1px solid #DEDEDE; }
  .template-contact .section-contact .item:nth-child(5) {
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE; }
  .template-contact .section-contact .item:nth-child(7) {
    border-left: 1px solid #DEDEDE; }

@media screen and (max-width: 768px) {
  .template-contact .section-map iframe {
    height: 250px; }
  .template-contact .section-contact .item {
    border-bottom: 1px solid #DEDEDE; }
    .template-contact .section-contact .item:nth-child(4) {
      border-bottom: 1px solid #DEDEDE; }
    .template-contact .section-contact .item:nth-child(5) {
      border-bottom: 1px solid #DEDEDE;
      border-left: 0; }
    .template-contact .section-contact .item:nth-child(7) {
      border-left: 0; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .template-contact .section-contact .item {
    border-bottom: 1px solid #DEDEDE; }
    .template-contact .section-contact .item:nth-child(4) {
      border-bottom: 1px solid #DEDEDE; }
    .template-contact .section-contact .item:nth-child(5) {
      border-bottom: 1px solid #DEDEDE;
      border-left: 0; }
    .template-contact .section-contact .item:nth-child(7) {
      border-left: 0; } }

/*# sourceMappingURL=main.css.map */
