@import url("//fonts.googleapis.com/css?family=Montserrat:400|Lato:300,400,700|Inconsolata:400,700");
body, h5, h6,
.badge, .note, .grav-mdeditor-preview,
input, select, textarea, button, .selectize-input {
  font-family: "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

h1, h2, h3, h4,
#admin-menu li, .form-tabs > label, .label {
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; }

code, kbd, pre, samp,
body .CodeMirror {
  font-family: "Inconsolata", "Monaco", "Consolas", "Lucida Console", monospace !important; }
