body {
  background: #314d5b;
  color: #81a5b5; }

a {
  color: #aad9ed; }
  a:hover {
    color: #95d0e9; }

blockquote {
  border-left: 10px solid #e1e1e1; }
  blockquote p {
    color: #999; }
  blockquote cite {
    color: #666; }

code {
  background: #f9f2f4;
  color: #9c1d3d; }

pre {
  background: #f6f6f6;
  border: 1px solid #dddddd; }
  pre code {
    color: #237794; }

hr {
  border-bottom: 4px solid #e6e6e6; }

.label {
  background: #aad9ed;
  color: #ffffff; }

.light-border {
  border-color: #e6e6e6 !important; }

.subtle-text {
  color: #8d959a !important; }

td {
  border-bottom: 1px solid #e6e6e6; }

tr td.gpm-details {
  background-color: #e9e9e9; }

.tab-bar {
  background: #223a47;
  color: #d1dee7; }
  .tab-bar li.active span, .tab-bar li.active a {
    background: #eeeeee;
    color: #737c81; }
  .tab-bar span, .tab-bar a {
    color: #d1dee7; }
    .tab-bar span:hover, .tab-bar a:hover {
      color: #f3f6f8;
      background: #335669; }

.button {
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background: #41bea8; }
  .button:hover {
    background: #5ec8b5;
    color: #ffffff; }
  .button.dropdown-toggle {
    border-left: 1px solid #3bab97; }
  .button.dropdown-toggle {
    border-left: 1px solid #3bab97; }
  .button.secondary {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #349886; }
    .button.secondary:hover {
      background: #52a798;
      color: #ffffff; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2e8575; }
    .button.secondary.dropdown-toggle {
      border-left: 1px solid #2e8575; }

.button-group .dropdown-menu {
  background-color: #41bea8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  .button-group .dropdown-menu .divider {
    background-color: #41bea8; }
  .button-group .dropdown-menu li > a {
    color: #ffffff; }
    .button-group .dropdown-menu li > a:focus, .button-group .dropdown-menu li > a:hover {
      color: #ffffff;
      background-color: #41bea8; }
  .button-group .dropdown-menu.language-switcher a.active {
    background-color: #67cbb9; }

#admin-main .admin-block a.gumroad-button {
  background: #da4b46 !important;
  color: #ffffff !important; }

#admin-login-wrapper {
  background: radial-gradient(circle at center, #43697c 0%, #1f313a 100%); }

#admin-login {
  background: #253a47; }
  #admin-login.wide form input::-webkit-input-placeholder::-webkit-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-webkit-input-placeholder::-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-webkit-input-placeholder:-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-webkit-input-placeholder:-ms-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-moz-placeholder::-webkit-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-moz-placeholder::-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-moz-placeholder:-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input::-moz-placeholder:-ms-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-moz-placeholder::-webkit-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-moz-placeholder::-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-moz-placeholder:-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-moz-placeholder:-ms-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-ms-input-placeholder::-webkit-input-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-ms-input-placeholder::-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-ms-input-placeholder:-moz-placeholder {
    color: #95a9b5; }
  #admin-login.wide form input:-ms-input-placeholder:-ms-input-placeholder {
    color: #95a9b5; }
  #admin-login .wrapper-spacer h3 {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 3px solid rgba(209, 222, 231, 0.1); }
  #admin-login .instructions {
    color: rgba(175, 199, 213, 0.8); }
  #admin-login h1 {
    background: #1c2c36 url(../images/logo.png) 50% 50% no-repeat; }
  #admin-login form input {
    background: #2a4251;
    color: #d1dee7;
    border: 1px solid #1e2e39; }
    #admin-login form input::-webkit-input-placeholder {
      color: #95a9b5; }
    #admin-login form input::-moz-placeholder {
      color: #95a9b5; }
    #admin-login form input:-moz-placeholder {
      color: #95a9b5; }
    #admin-login form input:-ms-input-placeholder {
      color: #95a9b5; }

#admin-sidebar {
  background: #253a47; }
  #admin-sidebar a {
    color: rgba(209, 222, 231, 0.9); }
    #admin-sidebar a:hover {
      color: #d1dee7; }

#admin-logo, #open-handle {
  background: #1e333d; }
  #admin-logo .grav-logo path, #open-handle .grav-logo path {
    fill: rgba(255, 255, 255, 0.9) !important; }
  #admin-logo .grav-logo:hover path, #open-handle .grav-logo:hover path {
    fill: #ffffff !important; }
  #admin-logo a, #admin-logo i, #open-handle a, #open-handle i {
    color: #e6e6e6; }
    #admin-logo a:hover, #admin-logo i:hover, #open-handle a:hover, #open-handle i:hover {
      color: #ffffff; }

.block-userinfo img {
  border: 4px solid #d5d5d5; }

#admin-user-details, .admin-user-details {
  border-bottom: 1px solid #2e4858; }
  #admin-user-details:hover img, .admin-user-details:hover img {
    box-shadow: 0px 0px 0 50px #2a4251; }
  #admin-user-details .admin-user-names h4, #admin-user-details .admin-user-names h5, .admin-user-details .admin-user-names h4, .admin-user-details .admin-user-names h5 {
    color: #d1dee7; }

#admin-menu li .badges .count {
  color: #d1dee7;
  background-color: #365569; }

#admin-menu li .badges .updates {
  color: #ffffff;
  background-color: #00a6cf; }

#admin-menu li a:hover {
  background: #1e333e;
  color: #ffffff; }
  #admin-menu li a:hover .fa {
    color: #ffffff; }

#admin-menu li.selected a {
  background: #2d4d5b;
  color: #ffffff;
  border-left: 9px solid #37a28f; }
  #admin-menu li.selected a .fa {
    color: #ffffff; }

#admin-main .grav-update {
  background: #8f5aad;
  color: #ffffff; }
  #admin-main .grav-update a.button, #admin-main .grav-update span.button, #admin-main .grav-update button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #72488a; }
    #admin-main .grav-update a.button:hover, #admin-main .grav-update span.button:hover, #admin-main .grav-update button.button:hover {
      background: #613d75;
      color: #ffffff; }
    #admin-main .grav-update a.button.dropdown-toggle, #admin-main .grav-update span.button.dropdown-toggle, #admin-main .grav-update button.button.dropdown-toggle {
      border-left: 1px solid #80519b; }

#admin-main .titlebar {
  background: #349886;
  color: #ffffff; }
  #admin-main .titlebar .button-bar .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #41bea8; }
    #admin-main .titlebar .button-bar .button:hover {
      background: #5ec8b5;
      color: #ffffff; }
    #admin-main .titlebar .button-bar .button.dropdown-toggle {
      border-left: 1px solid #3bab97; }

#admin-main .lines-button {
  background: rgba(0, 0, 0, 0.1); }
  #admin-main .lines-button .lines, #admin-main .lines-button .lines:before, #admin-main .lines-button .lines:after {
    background: #ffffff; }

#admin-main .admin-block {
  background: #eeeeee;
  color: #737c81; }
  #admin-main .admin-block a {
    color: #0082ba; }
    #admin-main .admin-block a:hover {
      color: #0070a1; }
  #admin-main .admin-block h1 {
    color: #314d5b;
    border-bottom: 3px solid #e6e6e6; }
  #admin-main .admin-block .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #41bea8; }
    #admin-main .admin-block .button:hover {
      background: #5ec8b5;
      color: #ffffff; }
    #admin-main .admin-block .button.dropdown-toggle {
      border-left: 1px solid #3bab97; }

#admin-main .danger.button-bar, #admin-main .success.button-bar {
  background: #e6e6e6; }

#admin-main .danger.button-bar .button {
  color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background: #da4b46; }
  #admin-main .danger.button-bar .button:hover {
    background: #b9403c;
    color: #ffffff; }
  #admin-main .danger.button-bar .button.dropdown-toggle {
    border-left: 1px solid #de605b; }

#admin-main .content-padding div[class*=notifications-container] .alert.note {
  background: #eeeeee;
  color: #737c81; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note.alert {
    border-bottom: 2px solid #e1e1e1; }
  #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button) {
    color: #0082ba; }
    #admin-main .content-padding div[class*=notifications-container] .alert.note a:not(.button):hover {
      color: #0070a1; }

#admin-main .content-padding div[class*=notifications-container] .alert.warning {
  background: #da4b46;
  color: #ffffff; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning.alert {
    border-bottom: 2px solid #d63631; }
  #admin-main .content-padding div[class*=notifications-container] .alert.warning a {
    color: #ffffff; }
    #admin-main .content-padding div[class*=notifications-container] .alert.warning a:hover {
      color: white; }

#admin-main #notifications .badge.alert.note {
  background: #0082ba;
  color: #eeeeee; }

#admin-main #notifications .badge.alert.warning {
  background: #da4b46;
  color: #ffffff; }

.sidebar-mobile-open #admin-main .lines-button .lines, .sidebar-mobile-open #admin-main .lines-button .lines:before, .sidebar-mobile-open #admin-main .lines-button .lines:after {
  background: #ffffff; }

#admin-dashboard .admin-block li {
  border-bottom: 1px solid #e6e6e6; }

#admin-dashboard .primary-accent {
  background-color: #38a390;
  background-image: -webkit-linear-gradient(#38a390, #41bea8);
  background-image: linear-gradient(#38a390, #41bea8); }
  #admin-dashboard .primary-accent p {
    color: rgba(255, 255, 255, 0.95); }
  #admin-dashboard .primary-accent .stat i {
    color: rgba(255, 255, 255, 0.75); }
  #admin-dashboard .primary-accent .numeric em {
    color: rgba(255, 255, 255, 0.85); }
  #admin-dashboard .primary-accent .chart-loader {
    color: #349886; }

#admin-dashboard .secondary-accent {
  background-color: #0089ab;
  background-image: -webkit-linear-gradient(#0089ab, #00a6cf);
  background-image: linear-gradient(#0089ab, #00a6cf); }
  #admin-dashboard .secondary-accent p {
    color: rgba(255, 255, 255, 0.95); }
  #admin-dashboard .secondary-accent .stat i {
    color: rgba(255, 255, 255, 0.75); }
  #admin-dashboard .secondary-accent .numeric em {
    color: rgba(255, 255, 255, 0.85); }
  #admin-dashboard .secondary-accent .chart-loader {
    color: #0085a6; }

form h1, form h3 {
  color: #314d5b;
  border-bottom: 3px solid #e6e6e6; }

form .note {
  color: #da4b46; }

form .required {
  color: #da4b46; }

form .overlay {
  background: #e1e1e1; }

form .form-border {
  border: 1px solid #d5d5d5; }

form .form-field-colors {
  background-color: #f6f6f6;
  color: #676f74; }

form .form-select-wrapper:after, form .selectize-control.single .selectize-input:after {
  color: #9ba2a6; }

form .selectize-control.single .selectize-input, form .selectize-control.single .selectize-input.full, form .selectize-control.single .selectize-input.items, form .selectize-control.single .selectize-input.active, form .selectize-control.multi .selectize-input, form .selectize-control.multi .selectize-input.full, form .selectize-control.multi .selectize-input.items, form .selectize-control.multi .selectize-input.active {
  color: #676f74;
  border-color: #d5d5d5;
  background-color: #f6f6f6; }

form .selectize-control.single .selectize-input input, form .selectize-control.multi .selectize-input input {
  color: #676f74; }

form .form-input-wrapper .form-input-addon {
  border: 1px solid #d5d5d5;
  background: #f1f1f1; }

form .selectize-control.multi .selectize-input > div {
  color: #eeeeee;
  background: #737c81; }
  form .selectize-control.multi .selectize-input > div.active {
    background: #00a6cf;
    color: #ffffff; }

form select {
  border: 1px solid #d5d5d5;
  background: #f6f6f6;
  color: #676f74; }

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=date],
form input[type=tel],
form input[type=time],
form input[type=week],
form input[type=month],
form input[type=number],
form input[type=color],
form input[type=url] {
  border: 1px solid #d5d5d5;
  background: #f6f6f6;
  color: #676f74; }

form input[readonly=readonly] {
  background: #eeeeee; }

form textarea {
  border: 1px solid #d5d5d5;
  background: #f6f6f6; }

form .form-frontmatter-wrapper {
  border: 1px solid #d5d5d5; }

form .button-bar {
  background: #e6e6e6; }

form .checkboxes label:before {
  background: #f6f6f6;
  border: 1px solid #d5d5d5; }

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  color: #8d959a; }

form input::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder {
  color: #8d959a; }

form input:-moz-placeholder, form textarea:-moz-placeholder, form select:-moz-placeholder {
  color: #8d959a; }

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, form select:-ms-input-placeholder {
  color: #8d959a; }

form .g-colorpicker {
  width: 230px; }
  form .g-colorpicker .g-colorpicker-preview-wrap {
    border-color: #d5d5d5;
    height: 43px;
    width: 43px; }
  form .g-colorpicker input {
    height: 43px; }

form .form-input-file {
  border: 2px dashed #d5d5d5; }
  form .form-input-file p {
    color: #676f74; }
  form .form-input-file ul {
    color: #ffffff;
    background: #41bea8; }

form .file-thumbnail-remove {
  background: #41bea8; }
  form .file-thumbnail-remove .fa {
    color: #ffffff; }
  form .file-thumbnail-remove:hover {
    background: #ffffff; }
    form .file-thumbnail-remove:hover .fa {
      color: #41bea8; }

form input[type=range]::-webkit-slider-runnable-track {
  background: #e9e9e9;
  border: 1px solid #d5d5d5; }

form input[type=range]::-webkit-slider-thumb {
  border: 1px solid #d5d5d5;
  background: #41bea8; }

form input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e9e9e9; }

form input[type=range]::-moz-range-track {
  background: #e9e9e9;
  border: 1px solid #d5d5d5; }

form input[type=range]::-moz-range-progress {
  background: #e9e9e9; }

form input[type=range]::-moz-range-thumb {
  border: 1px solid #d5d5d5;
  background: #41bea8; }

form input[type=range]::-ms-fill-lower, form input[type=range]::-ms-fill-upper {
  background: #e9e9e9;
  border: 1px solid #d5d5d5; }

form input[type=range]::-ms-thumb {
  border: 1px solid #d5d5d5;
  background: #41bea8; }

form input[type=range]:focus::-ms-fill-lower, form input[type=range]:focus::-ms-fill-upper {
  background: #e9e9e9; }

.grav-editor-resizer {
  background-color: #d5d5d5;
  background-color: #d5d5d5;
  background-image: -webkit-linear-gradient(top, #d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%);
  background-image: linear-gradient(to bottom,#d5d5d5 0%, #d5d5d5 20%, #ededed 20%, #ededed 40%, #d5d5d5 40%, #d5d5d5 60%, #ededed 60%, #ededed 80%, #d5d5d5 80%, #d5d5d5 100%); }

.form-order-wrapper ul.orderable li {
  border: 1px solid #d5d5d5;
  background: #f3f3f3;
  color: #737c81; }
  .form-order-wrapper ul.orderable li.drag-handle {
    background: #f6f6f6;
    color: #676f74; }
  .form-order-wrapper ul.orderable li[data-active-id] {
    border-color: #676f74; }

.form-order-wrapper ul.orderable.disabled li {
  opacity: 0.7; }

.form-list-wrapper ul[data-collection-holder] > li {
  border: 1px solid #d5d5d5;
  background: #f8f8f8;
  color: #8d959a; }
  .form-list-wrapper ul[data-collection-holder] > li .item-actions {
    color: #5b6266; }

.form-list-wrapper .collection-sort {
  background: #e9e9e9;
  border-right: 1px solid #ddd; }

.form-fieldset {
  background-color: #f7f7f7;
  border: 2px solid #e1e1e1; }

.form-fieldset--label {
  background-color: #f3f3f3; }
  .form-fieldset--label:hover,
  .form-fieldset input:checked + .form-fieldset--label {
    background-color: #eee; }

#admin-main #admin-topbar {
  background: #223a47; }

#admin-main .form-tabs {
  background: #223a47; }
  #admin-main .form-tabs .tabs-nav a {
    color: #d1dee7; }
    #admin-main .form-tabs .tabs-nav a:hover {
      color: #f3f6f8;
      background: #335669; }
    #admin-main .form-tabs .tabs-nav a.active {
      background: #eeeeee;
      color: #737c81; }
  #admin-main .form-tabs.subtle {
    background: #eeeeee; }
    #admin-main .form-tabs.subtle .tabs-nav {
      background: linear-gradient(to bottom, rgba(238, 238, 238, 0), #e7e7e7); }
    #admin-main .form-tabs.subtle a {
      color: #687074;
      border: 0 solid transparent;
      border-bottom: 1px solid #d5d5d5; }
      #admin-main .form-tabs.subtle a:hover {
        color: #5c6367;
        background: linear-gradient(to bottom, rgba(238, 238, 238, 0), #dddddd); }
      #admin-main .form-tabs.subtle a.active {
        border-top: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
        border-bottom: 0; }
        #admin-main .form-tabs.subtle a.active:hover {
          background: #eeeeee; }
        #admin-main .form-tabs.subtle a.active:first-child {
          border-left: 0; }
        #admin-main .form-tabs.subtle a.active:last-child {
          border-right: 0; }
  #admin-main .form-tabs .tabs-content {
    background: #eeeeee; }

.switch-grav {
  background-color: #f6f6f6;
  border: 1px solid #d5d5d5;
  /* Selected ON switch-light
     */ }
  .switch-grav label {
    color: #737c81; }
  .switch-grav a {
    background: #223a47;
    color: #d1dee7; }
  .switch-grav.switch-toggle input.highlight:checked ~ a {
    background: #41bea8; }
  .switch-grav.switch-light input:checked ~ a {
    background-color: #777; }
  .switch-grav input:checked + label {
    color: #fff; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #8f5aad; }
  .toast-success .button {
    background: #9b6bb5;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #a67cbe; }
    .toast-success .button:hover {
      background: #8d69a1;
      color: #ffffff; }
    .toast-success .button.dropdown-toggle {
      border-left: 1px solid #b28dc6; }

.toast-error {
  background-color: #da4b46; }
  .toast-error .button {
    background-color: #c62d28;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #9b231f; }
    .toast-error .button:hover {
      background: #aa4441;
      color: #ffffff; }
    .toast-error .button.dropdown-toggle {
      border-left: 1px solid #861e1b; }

.toast-info {
  background-color: #00a6cf; }
  .toast-info .button {
    background-color: #007d9c;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #005469; }
    .toast-info .button:hover {
      background: #266e80;
      color: #ffffff; }
    .toast-info .button.dropdown-toggle {
      border-left: 1px solid #004050; }

.info {
  background: #8f5aad;
  color: #ffffff; }
  .info.alert {
    border-bottom: 2px solid #824f9f; }
  .info a {
    color: #e6e6e6; }
    .info a:hover {
      color: #ffffff; }
  .info a.button, .info span.button, .info button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #72488a; }
    .info a.button:hover, .info span.button:hover, .info button.button:hover {
      background: #613d75;
      color: #ffffff; }
    .info a.button.dropdown-toggle, .info span.button.dropdown-toggle, .info button.button.dropdown-toggle {
      border-left: 1px solid #80519b; }

.info-reverse {
  color: #8f5aad; }

.notice, .note {
  background: #00a6cf;
  color: #ffffff; }
  .notice.alert, .note.alert {
    border-bottom: 2px solid #0092b6; }
  .notice a, .note a {
    color: #e6e6e6; }
    .notice a:hover, .note a:hover {
      color: #ffffff; }
  .notice a.button, .notice span.button, .notice button.button, .note a.button, .note span.button, .note button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #0085a6; }
    .notice a.button:hover, .notice span.button:hover, .notice button.button:hover, .note a.button:hover, .note span.button:hover, .note button.button:hover {
      background: #00718d;
      color: #ffffff; }
    .notice a.button.dropdown-toggle, .notice span.button.dropdown-toggle, .notice button.button.dropdown-toggle, .note a.button.dropdown-toggle, .note span.button.dropdown-toggle, .note button.button.dropdown-toggle {
      border-left: 1px solid #0099c0; }

.notice-reverse, .note-reverse {
  color: #00a6cf; }

.error, .warning {
  background: #da4b46;
  color: #ffffff; }
  .error.alert, .warning.alert {
    border-bottom: 2px solid #d63631; }
  .error a, .warning a {
    color: #e6e6e6; }
    .error a:hover, .warning a:hover {
      color: #ffffff; }
  .error a.button, .error span.button, .error button.button, .warning a.button, .warning span.button, .warning button.button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #ae3c38; }
    .error a.button:hover, .error span.button:hover, .error button.button:hover, .warning a.button:hover, .warning span.button:hover, .warning button.button:hover {
      background: #943330;
      color: #ffffff; }
    .error a.button.dropdown-toggle, .error span.button.dropdown-toggle, .error button.button.dropdown-toggle, .warning a.button.dropdown-toggle, .warning span.button.dropdown-toggle, .warning button.button.dropdown-toggle {
      border-left: 1px solid #c1433e; }

.error-reverse, .warning-reverse {
  color: #da4b46; }

.primary-accent {
  background: #3bab97;
  color: #ffffff; }
  .primary-accent .button-bar {
    background: #38a390; }
  .primary-accent .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #41bea8; }
    .primary-accent .button:hover {
      background: #5ec8b5;
      color: #ffffff; }
    .primary-accent .button.dropdown-toggle {
      border-left: 1px solid #3bab97; }

.secondary-accent {
  background: #0092b6;
  color: #ffffff; }
  .secondary-accent .button-bar {
    background: #0089ab; }
  .secondary-accent .button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #00a6cf; }
    .secondary-accent .button:hover {
      background: #26b3d6;
      color: #ffffff; }
    .secondary-accent .button.dropdown-toggle {
      border-left: 1px solid #0092b6; }

.card-item {
  border: 1px solid #e1e1e1;
  background: #ffffff; }
  .card-item .gpm-actions {
    background: #e9e9e9; }
  .card-item.active-theme {
    border: 1px solid #00a6cf; }
    .card-item.active-theme .gpm-actions {
      background: #00a6cf;
      color: #ffffff; }

.user-details h2 {
  color: #314d5b; }
  .user-details h2 span {
    color: #737c81; }

.user-details .gravatar {
  color: #a8aeb2; }
  .user-details .gravatar a {
    color: #737c81 !important; }

#admin-main .grav-editor-toolbar .dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
  border: 1px solid #d5d5d5;
  background: #fbfbfb; }

#admin-main .grav-editor-toolbar {
  border: 1px solid #d5d5d5;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: #fbfbfb; }
  #admin-main .grav-editor-toolbar ul a {
    color: #737c81; }
    #admin-main .grav-editor-toolbar ul a:hover, #admin-main .grav-editor-toolbar ul a:focus {
      background: #e6e6e6;
      color: #676f74;
      border-top: 1px solid #d5d5d5; }
  #admin-main .grav-editor-toolbar ul .editor-active a {
    cursor: auto;
    background: white;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5; }
    #admin-main .grav-editor-toolbar ul .editor-active a:hover {
      background: #ffffff;
      border-top: 0;
      border-bottom: 1px solid #ffffff; }
  #admin-main .grav-editor-toolbar ul .editor-active:last-child a, #admin-main .grav-editor-toolbar ul .editor-active:last-child a:hover {
    border-right: 1px solid transparent; }
  #admin-main .grav-editor-toolbar ul .button-disabled a {
    color: rgba(115, 124, 129, 0.5); }
    #admin-main .grav-editor-toolbar ul .button-disabled a:hover, #admin-main .grav-editor-toolbar ul .button-disabled a:focus {
      background: #fbfbfb;
      color: #737c81;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent; }

#admin-main .grav-editor-hide-toolbar + div {
  border: 1px solid #d5d5d5; }

.grav-editor-content, .grav-editor-preview {
  border: 1px solid #d5d5d5;
  border-top: 0; }

.grav-mdeditor-content {
  border: 1px solid #d5d5d5; }

[data-mode=split] .grav-mdeditor-code {
  border-right: 1px solid #d5d5d5; }

#admin-main .grav-editor-preview h1, #admin-main .grav-editor-preview h2, #admin-main .grav-editor-preview h3, #admin-main .grav-editor-preview h4, #admin-main .grav-editor-preview h5, #admin-main .grav-editor-preview h6 {
  color: #5b6266; }

.primary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(255, 255, 255, 0.85) !important; }

.primary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #ffffff !important; }

.primary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.2) !important; }

.secondary-accent .ct-chart .ct-series.ct-series-a .ct-bar {
  stroke: rgba(255, 255, 255, 0.85) !important; }

.secondary-accent .ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #ffffff !important; }

.secondary-accent .ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.2) !important; }

.dropzone {
  background: #f6f6f6;
  border: 1px #d5d5d5 solid; }
  .dropzone.dz-drag-hover {
    border-color: #bbbbbb;
    background: rgba(0, 0, 0, 0.04); }
  .dropzone .dz-preview {
    border: 1px solid #e1e1e1; }
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
      color: #ffffff; }
    .dropzone .dz-preview .dz-success-mark {
      background-color: #67cbb9; }
    .dropzone .dz-preview .dz-error-mark {
      background-color: #da4b46; }
    .dropzone .dz-preview .dz-progress {
      background: #d7d7d7; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        background-color: #67cbb9; }
    .dropzone .dz-preview .dz-error-message {
      background: #f6f6f6;
      color: #da4b46; }
    .dropzone .dz-preview .dz-details {
      background: #f6f6f6; }
    .dropzone .dz-preview:hover .dz-details {
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.4); }
    .dropzone .dz-preview .dz-remove, .dropzone .dz-preview .dz-view, .dropzone .dz-preview .dz-insert {
      background: #e1e1e1; }
      .dropzone .dz-preview .dz-remove:hover:after, .dropzone .dz-preview .dz-view:hover:after, .dropzone .dz-preview .dz-insert:hover:after {
        color: #0082ba; }
      .dropzone .dz-preview .dz-remove:after, .dropzone .dz-preview .dz-view:after, .dropzone .dz-preview .dz-insert:after {
        color: #737c81; }
    .dropzone .dz-preview .dz-remove:hover:after {
      color: #da4b46; }
  .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
    color: #c3c7ca; }

.gpm > table > tbody > tr {
  border-bottom: 1px solid #e6e6e6; }
  .gpm > table > tbody > tr:hover {
    background: #f3f3f3; }

.gpm .gpm-name {
  color: #9ba2a6; }

.gpm .gpm-version {
  color: #8d959a; }

.gpm .gpm-ribbon, .gpm .badge.update {
  background: #8f5aad; }
  .gpm .gpm-ribbon a, .gpm .gpm-ribbon, .gpm .badge.update a, .gpm .badge.update {
    color: #ffffff !important; }
    .gpm .gpm-ribbon a:hover, .gpm .gpm-ribbon:hover, .gpm .badge.update a:hover, .gpm .badge.update:hover {
      background: #7a4d93; }

.gpm .gpm-update .gpm-name {
  color: #41bea8; }

.gpm .gpm-item-info {
  border-bottom: 3px solid #e6e6e6; }
  .gpm .gpm-item-info .gpm-item-icon {
    color: #e9e9e9; }

.gpm .gpm-actions .disabled {
  color: #8d959a; }

.gpm .gpm-testing {
  background-color: #da4b46;
  color: #ffffff; }

.pages-list {
  border-top: 1px solid #e6e6e6; }
  .pages-list .row {
    border-bottom: 1px solid #e6e6e6; }
    .pages-list .row:hover {
      background: #f3f3f3; }
    .pages-list .row p.page-route {
      color: #737c81; }
      .pages-list .row p.page-route .spacer {
        color: #737c81; }
    .pages-list .row .badge.lang {
      background-color: #223a47;
      color: #d1dee7; }
    .pages-list .row .badge.lang.info {
      background-color: #8f5aad;
      color: #ffffff; }
  .pages-list .page-home {
    color: #8d959a; }
  .pages-list .page-info {
    color: #8d959a; }

#admin-topbar #admin-lang-toggle {
  z-index: 10; }
  #admin-topbar #admin-lang-toggle button {
    color: rgba(255, 255, 255, 0.85);
    border-radius: 4px;
    background: #8f5aad; }
    #admin-topbar #admin-lang-toggle button:hover {
      background: #7a4d93;
      color: #ffffff; }
    #admin-topbar #admin-lang-toggle button.dropdown-toggle {
      border-left: 1px solid #9b6bb5; }
  #admin-topbar #admin-lang-toggle .dropdown-menu {
    background: #8f5aad; }
    #admin-topbar #admin-lang-toggle .dropdown-menu button {
      background: transparent;
      color: #ffffff; }

#admin-topbar .switch-grav {
  background-color: #335669; }

#admin-topbar .switch-toggle input:checked + label {
  color: #ffffff; }

#admin-topbar .switch-toggle input + label {
  color: #d1dee7; }

#admin-topbar .switch-toggle input.highlight:checked ~ a {
  background: #00a6cf; }

body .selectize-dropdown .optgroup-header {
  color: #000000;
  border-bottom: 1px solid #eee;
  background-color: #fafafa; }

body .bootstrap-datetimepicker-widget.dropdown-menu {
  border-color: #d5d5d5; }

body .bootstrap-datetimepicker-widget table td span:hover, body .bootstrap-datetimepicker-widget table th:hover, body .bootstrap-datetimepicker-widget table td.day:hover {
  background: #e1e1e1 !important; }

body .bootstrap-datetimepicker-widget table .active {
  color: #0082ba !important; }
  body .bootstrap-datetimepicker-widget table .active:hover {
    color: #005e87; }

#phpinfo th {
  background: #f6f6f6; }

#phpinfo td {
  word-wrap: break-word; }
  #phpinfo td:first-child {
    color: #41bea8; }

.remodal {
  background: #eeeeee;
  color: #737c81; }

.remodal-close {
  color: #737c81; }

.remodal-close:hover,
.remodal-close:focus {
  color: #43484b; }

.gm-scrollbar .thumb {
  background-color: rgba(255, 255, 255, 0.2); }
  .gm-scrollbar .thumb:hover, .gm-scrollbar .thumb:active {
    background-color: rgba(255, 255, 255, 0.3); }

input[type=range] {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 230px;
  background: none; }
  input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-runnable-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 25px; }
  input[type=range]::-webkit-slider-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px; }
  input[type=range]::-moz-focus-outer {
    border: 0; }
  input[type=range]::-moz-range-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 25px; }
  input[type=range]::-moz-range-progress {
    height: 20px;
    border-radius: 25px; }
  input[type=range]::-moz-range-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer; }
  input[type=range]::-ms-track {
    width: 230px;
    height: 20px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range]::-ms-fill-lower, input[type=range] input[type=range]::-ms-fill-upper {
    border-radius: 50px; }
  input[type=range]::-ms-thumb {
    height: 24px;
    width: 35px;
    border-radius: 6px;
    cursor: pointer; }
  input[type=range] ~ input[type=number].rangefield {
    background: none;
    display: inline-block;
    width: 60px;
    text-align: right;
    border: 0;
    line-height: 16px;
    vertical-align: middle;
    padding: 0 0 0 5px; }

span.range-append {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin-left: -3px; }
