{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}})">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<p>{{page.header.HeroText2}}</p>
			</div>
		</div>
	</section>
	<section class="section-about">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth md-full sm-full padding-right">
				<h3 class="headline">We are driven by our vision</h3>
				<p>
					The Adaramola Firm is a progressive law firm committed to using innovative concepts and techniques to resolving legal issues. We provide a positive alternative to traditional, expensive, and highly adversarial law firms. 
				</p>
				<p>
					Our firm takes a pragmatic approach to our client's legal issues, focusing on practical, cost effective, and flexible solutions. Therefore, we maintain a commitment to providing quality affordable legal access for all. We work collaboratively with our clients, delivering personalized legal services to achieve maximum client satisfaction and results.  
				</p>
				<p>
					At Adaramola law, we provide competent, honest and straightforward legal advice so that you can make great-informed legal decisions.
				</p>
				<h3 class="headline">Attorney Ile Adaramola</h3>
				{{page.media[page.header.AttorneyImage].html}}
				<p>
					Ile (E-lay) earned a Bachelors of Arts in Criminal Justice and Philosophy with high honors, from the University of North Carolina at Charlotte.  After receiving her degree, she worked as a real estate paralegal for Shapiro and Ingle LLP, Wells Fargo Home Mortgage, and Commercial Defeasance LLC.  She has years of extensive experience and knowledge in the practice areas of foreclosures, real estate closings, settlement services for lenders/servicers, and debt service for commercial real estate loans.
				</p>
				<p>
					Ile attended North Carolina Central University School of Law on a full academic scholarship from the American Intellectual Property Law Education Foundation and earned her Juris Doctor with honors. While in law school, one of her passions was environmental law and policy.  Thus, she was honored when she received the prestigious U.S. Environmental Protection Agency (EPA) Fellowship. As an EPA Fellow, she studied environmental law at Duke Nicholas School of the Environment, and Vermont Law School.
				</p>
				<p>
					After law school, Ile practiced estates and trust law and became a Fiduciary Trust Officer for U.S. Trust, Bank of America's Private Wealth Management, in Dallas, Texas. As a Trust Officer, she administered irrevocable life insurance trusts, revocable trusts, special needs trusts, and advised clients in the areas of estate planning, trust and estate administration and various gift and estate tax issues.
				</p>
				<p>
					As a North Carolina resident of nine years, she moved back to Asheville to found the Adaramola Law Firm, where she practices estates and trust law, real estate, and business law.  In addition, she is licensed to practice in Maryland. She is a member of the North Carolina and Maryland State Bar Associations, and the 28th Judicial Bar Association. Ile is a proud supporter of local businesses and the community. She serves on the Board of Directors for Read 2 Succeed Asheville, an educational nonprofit and Mountain True, an environmental nonprofit.  She also volunteers for Pisgah Legal's Mountain Area Volunteer Lawyer Program (MALV), the North Carolina Bar Association's Wills for Heroes, as well as fundraising events for the Asheville High/SISLA student debate team and Children First/Communities in School. When she isn’t practicing law, Ile enjoys spending time with family and friends, traveling, playing trombone, and community art and theatre. 
				</p>
			</div>
			<div class="col two-fifth md-full sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
