{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}})">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<p>{{page.header.HeroText2}}</p>
			</div>
		</div>
	</section>
	<section class="section-feed">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth sm-full padding-right">
				<div class="blog-wrap">
					{% set collection = page.collection() %}

					{% for child in collection %}
						<div class="blog-item">
							<a href="{{child.url}}"><h3>{{child.title}}</h3></a>
							<span class="date">{{child.header.date|date("M d")}}</span>
							{{child.summary}}
						</div>
					{% endfor %}

					{% if config.plugins.pagination.enabled and collection.params.pagination %}
							{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
					{% endif %}
				</div>
			</div>
			<div class="col two-fifth sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}