{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}})">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<p>{{page.header.HeroText2}}</p>
			</div>
		</div>
	</section>
	<section class="section-map">
		<div class="map-container">
			<iframe frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103891.13429470279!2d-82.56540544999997!3d35.53893199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88598ca93c0f6f09%3A0x94ef31c106343a5d!2sAsheville%2C+NC!5e0!3m2!1sen!2sus!4v1410457315879" style="border:0" width="100%"></iframe>
		</div>
	</section>
	<section class="section-contact">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth sm-full padding-right">
				<h3 class="headline">Contact Information</h3>
				<p><strong>Let's Get Started!</strong></p>
				<p>
					Please contact our office at <strong>828-348-0189</strong> or fill out this form if you have questions, requests, or concerns regarding our services. We look forward to helping you.
				</p>
				<div class="item col one-half md-full sm-full">
					<div class="icon">
						<div class="circle">
							<i class="fa fa-map-marker"></i>
						</div>
					</div>
					<h3>Office Address</h3>
					<p>1 Oak Plaza, Suite 306</p>
					<p>Asheville, NC 28801</p>
				</div>
				<div class="item col one-half md-full sm-full">
					<div class="icon">
						<div class="circle">
							<i class="fa fa-phone"></i>
						</div>
					</div>
					<h3>Phone & Fax</h3>
					<p>P: 828-348-0189</p>
					<p>F: 828-785-4711</p>
				</div>
				<div class="item col one-half md-full sm-full">
					<div class="icon">
						<div class="circle">
							<i class="fa fa-envelope-o"></i>
						</div>
					</div>
					<h3>Email</h3>
					<a class="alt" href="mailto:ile@adaramolalaw.com">ile@adaramolalaw.com</a>
				</div>
				<div class="item col one-half md-full sm-full">
					<div class="icon">
						<div class="circle">
							<i class="fa fa-group"></i>
						</div>
					</div>
					<h3>Reviews</h3>
					<a class="alt" href="">Google Reviews</a><br>
					<a class="alt" href="">Yelp</a>
				</div>
			</div>
			<div class="col two-fifth sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
