{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="wrapper wrapper-sm">
		<div id="error">
			<img src="{{url("theme://img/groundedweb-logo.png")}}">
			<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
			<a href="/">Click here to go back</a>
		</div>
	</div>
{% endblock %}
