{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-home-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}});">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<span class="big">{{page.header.HeroText2}}</span>
			</div>
		</div>
	</section>
	<section class="section-home-buttons">
		<div class="wrapper wrapper-big">
			<a href="" class="button big">Estates & Trust Law</a>
			<a href="" class="button big">Business Law</a>
			<a href="" class="button big">Real Estate Law</a>
		</div>
	</section>
	<section class="section-info">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth padding-right sm-full">
				<h2 class="headline">Business Law, Estate Law, Real Estate Law | Asheville, NC</h2>
				<iframe width="100%" height="auto" src="https://www.youtube.com/embed/AcDbnf07DNU" frameborder="0" allowfullscreen></iframe>
				<p>
					Adaramola Law is a progressive law firm serving Asheville, NC and surrounding areas. The name Adaramola originates from the Yoruba people of southwestern Nigeria, and means "One who is good, and whose goodness goes with honor." As such, we strive to deliver honest and straightforward legal advice so that our clients are able to make informed and effective decisions. It is our belief that each client should receive a customized approach to his or her case in order to achieve maximum client satisfaction and results.  As a courtesy, we extend the following services to our clients: 
				</p>
				<ol>
					<li>Free initial 30 minute consultation</li>
					<li>Practical legal solutions tailored to the unique needs of each client</li>
					<li>Informal office atmosphere</li>
					<li>Cost-effective representation</li>
					<li>Flat fee services</li>
					<li>Limited scope representation, a reduced fee option</li>
					<li>Flexible appointment scheduling</li>
					<li>Timely and prompt responses to all communications within 24 hours</li>
					<li>Community oriented</li>
				</ol>
			</div>
			<div class="col two-fifth form-column sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
	<section class="section-law">
		<div class="wrapper wrapper-big">
			<div class="col one-forth md-one-half sm-full">
				<h3>Estate Planning</h3>
				<img src="{{url("theme://img/estate-planning.jpg")}}">
				<p>
					We offer an affordable flat rate of $600 per person for a comprehensive estate planning package that includes the 5 essential documents: a will, durable power of attorney, health care power of attorney, advanced directive/living will, and HIPAA authorization. Contact us at 828-348-0189 or fill out this contact form to learn more about this affordable packaged service.
				</p>
				<div class="button-wrap">
					<a href="" class="button">Read More</a>					
				</div>
			</div>
			<div class="col one-forth md-one-half sm-full">
				<h3>Real Estate Law</h3>
				<img src="{{url("theme://img/real-estate-law.jpg")}}">
				<p>
					Buying a home is one of the biggest financial decisions most people can make. However, the financial aspect is only part of the commitment—buying and selling homes involve many legal issues. At the Adaramola Law Firm, we support a wide range of residential real estate issues and work to protect your best interests to ensure that your home ownership experience is a good one.
				</p>
				<div class="button-wrap">
					<a href="" class="button">Read More</a>
				</div>
			</div>
			<div class="col one-forth md-one-half sm-full">
				<h3>Business Law</h3>
				<img src="{{url("theme://img/business-law.jpg")}}">
				<p>
					Our business law section is here to help you with all areas of your business. From formation to dissolution, we are prepared to handle and provide your business with the guidance needed to grow and prosper while avoiding potential legal pitfalls. Properly anticipating, evaluating, and minimizing legal risk is vital to your company’s success.
				</p>
				<div class="button-wrap">
					<a href="" class="button">Read More</a>
				</div>
			</div>
			<div class="col one-forth md-one-half sm-full">
				<h3>Estate Administration</h3>
				<img src="{{url("theme://img/estate-administration.jpg")}}">
				<p>
					To initiate the probate process, the executor, generally a relative of the decedent, files the will and any other relevant documents with the Clerk of Superior Court in the county where the decedent resided. In the case that the decedent did not have a will, the decedent is referred to as “intestate” and this requires the filing of a separate form acknowledging that the Clerk...
				</p>
				<div class="button-wrap">
					<a href="" class="button">Read More</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
