{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-post-head header-margin">
		<div class="post-hero" style="background-image: url({{url("theme://img/parallex-inner.jpg")}})">
			<div class="hero-overlay"></div>
			<div class="hero-gradient"></div>
			<div class="wrapper wrapper-sm hero-wrap">
			</div>
		</div>
	</section>
	<section class="section-post-content">
		<div class="post-wrap">
			<div class="post-title">
				<h1>{{page.title}}</h1>
			</div>
			<div class="post-author">
				<p>
					<span>{{page.header.date|date("F j, Y")}}</span>
				</p>
			</div>
			<div class="post-content">
				{{ page.content }}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig' %}
{% endblock %}