{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}})">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<p>{{page.header.HeroText2}}</p>
			</div>
		</div>
	</section>
	<section class="section-areas">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth md-full sm-full padding-right">
				<h2><a href="">Estate Planning</a></h2>
				<p>
					Developing a comprehensive estate plan is one of the most important steps that you can take to protect yourself and your loved ones. Consider that when you fail to plan, you risk leaving it to others or North Carolina law to make critical decisions that will impact your children, family, finances, and legacy. Estate planning provides the basis for identifying, expressing, and securing your most meaningful personal objectives.
				</p>
				<h2><a href="">Wills & Trust</a></h2>
				<p>
					A will is a legal document by which a person, the testator, names one or more persons to manage his or her estate and provides for the distribution of his or her property at death. Property that is not properly disposed of by a will is then distributed by way of the North Carolina Intestate Succession Act. A will may also create a testamentary trust that is effective only after the death of the testator.
				</p>
				<h2><a href="">Advanced Directive/Living Will</a></h2>
				<p>
					An advanced directive or living will is a legal document in which you direct whether your life will be prolonged by medical procedures in any of three circumstances: (1) you have an incurable or irreversible condition that will result in your death within a relatively short period of time; (2) you become unconscious and your health care providers determine that, to a high degree of medical certainty, you will never regain consciousness; and/or (3) you suffer from advanced dementia or any other condition which results in substantial loss of your cognitive ability, and your health care providers determine that, to a high degree of medical certainty, the loss is not reversible.
				</p>
				<h2><a href="">Healthcare Power of Attorney</a></h2>
				<p>
					A health care power of attorney is a legal document by which you give authority to another person or persons to consent to or refuse any or all medical care, including mental health treatment, on your behalf. This authority only applies when a physician or eligible psychologist determines that you are unable to make or communicate these decisions yourself. You may authorize the health care agent(s) to consent to the withholding or with¬drawal of life-prolonging measures, give direction regarding medical and/or mental health treatments, and routine medical decisions.
				</p>
				<h2><a href="">Durable Power of Attorney</a></h2>
				<p>
					In general, a power of attorney is a legal document that allows a person, known as the principal, to appoint another person, called the “attorney-in-fact or agent”, to act on behalf of the principal regarding financial/property matters. The powers that can be listed in the power of attorney can be limited to a specific act, or they can be broad and sweeping, allowing the agent to do virtually anything. However, the agent may only perform acts that are specifically listed in the power of attorney document. A power of attorney is effective during the principal’s lifetime and terminates at death.
				</p>
				<h2><a href="">Business Law</a></h2>
				<p>
					Our business law section is here to help you with all areas of your business. From formation to dissolution, we are prepared to handle and provide your business with the guidance needed to grow and prosper while avoiding potential legal pitfalls.
				</p>
				<h2><a href="">Estate Administration</a></h2>
				<p>
					We recognize that losing a loved one is a difficult process. The Adaramola Law Firm is devoted to guiding you and your family through the probate process with compassion and care. Probate is the legal process of administering the estate of a person who has died with or without a will. The procedures in an estate administration may take from six months to several years to complete.
				</p>
				<h2><a href="">Real Estate Law</a></h2>
				<p>
					Buying a home is one of the biggest financial decisions most people can make. However, the financial aspect is only part of the commitment—buying and selling homes involve many legal issues. At the Adaramola Law Firm, we support a wide range of residential real estate issues and work to protect your best interests to ensure that your home ownership experience is a good one.
				</p>
			</div>
			<div class="col two-fifth md-full sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
