{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/contact-info-bar.html.twig' %}
	{% include 'partials/header.html.twig'%}
{% endblock %}

{% block content %}
	<section class="section-hero header-margin" style="background-image: url({{page.media[page.header.HeroImage].url}})">
		<div class="wrapper wrapper-big">
			<div class="text-wrap">
				<h1>{{page.header.HeroText1}}</h1>
				<p>{{page.header.HeroText2}}</p>
			</div>
		</div>
	</section>
	<section class="section-areas">
		<div class="wrapper wrapper-big">
			<div class="col three-fifth sm-full padding-right">
				<h2>Legal</h2>
				<a href="www.avvo.com" class="alt">www.avvo.com</a><br>
				<a href="www.justia.com" class="alt">www.justia.com</a><br>
				<a href="www.findlaw.com" class="alt">www.findlaw.com</a>
				<h2>Government</h2>
				<a class="alt" href="http://www.nlrc.aoa.gov/">National Legal Resource Center</a><br>
				<a class="alt" href="http://www.buncombecounty.org/">Official Buncombe County website</a><br>
				<a class="alt" href="http://www.buncombecounty.org/Governing/Depts/CourtClerk/Default.aspx">Buncombe County Court Services</a><br>
				<a class="alt" href="http://www.ncleg.net/">Official site for NC General Assembly</a><br>
				<a class="alt" href="http://www.secretary.state.nc.us/corporations/">NC Secretary of State</a><br>
				<a class="alt" href="http://www.ncga.state.nc.us/gascripts/statutes/Statutes.asp">NC General Statutes</a><br>
				<a class="alt" href="http://www.nccourts.org/">NC Court System</a><br>
				<a class="alt" href="http://www.sog.unc.edu/">UNC School of Government</a><br>
				<a class="alt" href="http://www.supremecourt.gov/">U.S. Supreme Court</a>
				<h2>Non-Profits</h2>
				<a class="alt" href="http://www.pisgahlegal.org/">Pisgah Legal</a><br>
				<a class="alt" href="http://www.legalaidnc.org/Public/Participate/Links/">Legal Aid of NC</a><br>
				<a class="alt" href="http://www.ncaj.com/">NC Advocates for Justice</a>
				<p class="ps">
					The materials available at this website are for informational purposes only and not for the purpose of providing legal advice. You should contact a licensed attorney to obtain advice with respect to any particular issue or problem. Use of and access to this website or any of the e-mail links contained within this site do not create an attorney-client relationship between the Adaramola Law Firm and the user or browser.
				</p>
			</div>
			<div class="col two-fifth sm-full">
				<h3 class="headline">Contact Us</h3>
				{% include 'partials/contact-form.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include 'partials/footer.html.twig'%}
{% endblock %}
