{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="wrapper wrapper-sm">
		<div class="col">
			<img src="{{url("theme://img/groundedweb-logo.png")}}">
			<h1>Thank you for your submission!</h1>
			<h2>A member of our team will reach out to you in the next 5 minutes</h2>
			<h3>Follow us on social media!</h3>
			<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</div>
{% endblock %}
