body
	margin: 0
	background: $white
	transition: all .5s ease

div:after, div:before
	content: ''
	display: table
	clear: both

ul
	list-style: none
	margin: 0
	padding-left: 0

a
	text-decoration: none

.overlay
	display: block
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1
	background-color: black
	opacity: 0.2
