.button
	display: inline-block
	background: $alt
	border: 1px solid #992A21
	border-radius: 5px
	padding: 9px 14px
	font-size: 16px
	color: $white

	&.big
		padding: 25px
		font-size: 20px
		font-weight: bold

	&:hover
		cursor: pointer
		color: $white
		background: #c62d1f

@media screen and (max-width: 768px)
	.button
		font-size: 18px
