.call-to-action
	background: $light-grey
	text-align: center
	padding: 0 0 30px

	&.blue
		background: $dark-purple

	h3
		color: $white

	.button
		margin-right: 30px

		&:hover
			border-color: $main-black
			color: $main-black

		&:last-child
			margin-right: 0

@media screen and (max-width: 768px)
	.call-to-action
		.button
			width: 80%
			margin-left: 10%
			margin-bottom: 7px
			float: left
			box-sizing: border-box