.contact-bar
	background: #232D37
	color: $white
	position: fixed
	top: 0
	width: 100%
	z-index: 1

	.wrapper
		display: flex
		justify-content: space-between

		&::before, &::after
			content: none

		.left-nav, .right-nav
			.items
				display: flex

				li
					padding: 10px 14px 

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0

		.left-nav
			.has-border
				border-right: 1px solid $white

			.fa
				margin-right: 5px

		.right-nav
			.has-border
				border-left: 1px solid $white

			.items
				a
					color: $white

					&:hover
						color: $white

					li
						text-align: center	

						.fa
							min-width: 14px

						&:first-child
							padding-left: 10px

						&:last-child
							padding-right: 10px

					.facebook, .linkedin, .google
						transition: 300ms background ease-in-out

					.facebook:hover
						background: #4a6d9d

					.linkedin:hover
						background: #0b7bb5

					.google:hover
						background: #d53824