footer
	background: #232D37
	padding: 20px 0

	h4
		color: $white
		font-size: 14px
		margin: 0
		margin-bottom: 10px

	ul
		li
			color: #BCC1C5
			font-size: 14px
			line-height: 22px
			margin-bottom: 10px
			font-family: "Raleway", sans-serif
			letter-spacing: .5px

			a
				color: #BCC1C5

	.space
		height: 25px

@media screen and (max-width: 768px)
	footer
		h4
			margin-top: 10px

		.space
			height: 0

// @media screen and (min-width: 769px) and (max-width:992px)
// 	footer
