form

	&.white
		input, textarea
			border-color: $white
			color: $white
			background: none

			&::placeholder
				color: $white

	input, textarea, select
		width: 100%
		border: 1px solid $lighter-grey
		background: $background
		border-radius: 3px
		font-size: 16px
		color: $grey
		padding: 7px 13px
		margin-bottom: 20px
		box-sizing: border-box
		font-family: 'Open Sans', sans-serif

		option
			width: 100%

		&:focus
			outline: none

	label
		display: block
		margin-bottom: 10px
		font-size: 16px
		color: $text-grey
		font-weight: bold

	.form-group
		display: flex
		width: 100%

		.form-item
			flex: 1
			padding-right: 25px

			&:last-child
				padding-right: 0

			&.flex-two
				flex: 2
				
			&.flex-three
				flex: 3
				
			&.flex-four
				flex: 4

			.radio, .checkbox
				margin-right: 15px

.avvo
	height: 150px
	position: relative

@media screen and (max-width: 768px)
	form
		.form-group
			flex-direction: column

			.form-item
				padding-right: 0