.template-services-yes, .template-services-no
	.header .navigation .mobile .services-only
		display: initial
		margin-right: 18px

.header 
	position: fixed
	width: 100%
	z-index: 2
	top: 42px
	background: rgba(255,255,255,0.85)
	border-bottom: 1px solid $lighter-grey

	&.scroll
		top: 0

	.navigation
		padding: 3px 0
		display: flex
		align-items: center
		justify-content: space-between

		.logo	
			a
				display: flex
				align-items: center

				img
					max-width: 50px

				span
					color: $main-grey
					font-size: 18px
					font-weight: bold
					letter-spacing: 1px
					margin-left: 10px

		.links
			display: flex

			li
				margin-right: 40px
				position: relative

				&:last-child
					margin-right: 0

				a
					color: $main
					font-size: 15px
					font-family: 'Open Sans', sans-serif
					text-transform: uppercase
					font-weight: bold

					&.active
						color: $alt

					&:hover
						color: $alt

				.services-dropdown
					background: $dark-blue
					position: absolute
					width: 181px
					top: 44px
					left: 0
					box-shadow: 1px 1px 2px #3b4b79
					height: 0
					overflow: hidden
					transition: height 350ms ease-in-out

					&.active
						height: 92px

					li
						padding: 15px
						margin-right: 0

						&:last-child
							padding-top: 0

						a
							color: $white

							&:hover
								color: $main

		.mobile
			i
				color: $main

			.services-only
				display: none
				position: relative

				&::after
					content: ''
					width: 15px
					height: 15px
					background: $darker-blue
					position: absolute
					bottom: -22px
					left: -4px
					transform: rotate(45deg)

@media screen and (max-width: 768px)
	.header
		top: 0
		
		.navigation
			padding: 6px 0

			.logo
				a
					img
						max-width: 40px

					span
						font-size: 16px
			
@media screen and (min-width: 769px) and (max-width:992px)
	.header
		top: 0
		
		.navigation
			padding: 6px 0

			.logo
				a
					img
						max-width: 40px

					span
						font-size: 16pxadd