.mobile-panel
	z-index: 11
	width: 85%
	height: 100%
	position: fixed
	top: 0
	left: 0
	background: $lighter-grey
	border-right: 1px solid $light-grey
	overflow: hidden
	transition: transform .5s ease
	transform: translate3d(-100%,0,0)

	&.active
		transform: translate3d(0,0,0)
		box-shadow: 0px 0 10px

	.links
		margin-top: 30px
		padding-left: 0

		li
			text-align: center
			padding: 14px 0 15px

			&.service
				background: #161225

			a
				color: $main
				letter-spacing: 1px
				font-size: 16px

				&.active
					color: $alt