.section-hero
	position: relative
	background-size: 100%
	background-position: 0 37%

	.text-wrap
		padding: 70px 0 150px

		h1, p
			color: $white
			margin: 0

@media screen and (max-width: 768px)
	.section-hero
		background-attachment: initial
		background-position: 50%
		background-size: cover

		.text-wrap
			padding: 30px 0 85px

@media screen and (min-width: 769px) and (max-width: 992px)
	.section-hero
		background-attachment: initial
		background-position: 50%
		background-size: cover